<form id="form" action="/create" method="POST">
	<h2>Create todo</h2>

	<div class="input-field">
		<input id="title" type="text" name="title">
		<label>Todo title</label>
	</div>

	<button id="create" type="submit" class="btn purple">Create</button>
</form>

